<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log_in.css">
    <title>登录</title>
</head>
<body>
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">欢迎登录智能协同标注平台</h2>
    <!-- 传入后端的内容 -->

    <form class="login-container" method="post" action="/log_handle">
        <p><input type="text" name="username" placeholder="用户名"></p>
        <p><input type="password" name="password" placeholder="密码"></p>
        <p><input type="submit" value="登录"></p>
        <div style="text-align: right;">
            <p>
                没有账号？
                <a style="color:blue" href="http://127.0.0.1:5000/register">立即注册</a>
            </p>
        </div>
    </form>
     

</div>
<!-- 用于错误信息的弹窗 -->
{% block contentBlock %}
{% endblock %}
</body>
</html>